

/* html {
    background: linear-gradient(-45deg, #2f4353, #2f4353, gray,hsl(0, 0%, 0%));
    /* background-size: 600% 600%; */
    animation: gradient 15s ease infinite;
} */

.background-body {
    color: black;
    background-color: transparent;
}

.backgroundbox {
    background-color: transparent;
}

h4 {
    color: #4aaaa5;
}

a:visited {
    color: white;
  }

  a:link {
    color: white;
  }
  a:hover {
    color: #4aaaa5;
  }

.white {
    color: white;
}  

.white:hover {
    color: #4aaaa5;
}

.centerboxtext {
    text-align: center;
}

.navbar {
	/* padding: 0px 10px 0px 10px; */
	border-bottom: 2px solid #bbbbbb;
    background-color: #ffffff;
    width: 100%;
	
}
.navbar-brand {
	font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 26px;
    /* background-color: #4aaaa5; */
    padding: 30px 10px 10px 5px;
    font-weight: 700;

}

.header-name {
	color: #ffffff;
}

.nav .header .nav-item {
    /* padding-top: 15px; */
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav-link {
    color: gray;
}

/* style /content */

.content {
    background-color: white
}

/* Header style within NavBar */
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
}

/* Portfolio box */


/* picture inside About Me container */
.box {
	max-width: 350px;
	max-height: 350px;
	float: left;
	margin: 10px 20px 0px;

}

.pic {
	max-width: 330px;
	max-height: 330px;
	float: left;
	margin: 10px 20px 0px;

}



/* layout/style */
h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	color: #4aaaa5;
	padding: 20px 10px 10px 20px;
    font-weight: 700;
}  


    

.footer {
        position: fixed; 
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        margin-top: -80px;
        height: 80px;
        line-height: 80px;
        background-color: #666666;
        text-align: center;
        border-top: 5px solid #4aaaa5;
        font-size: 12px;
        padding-top: 8px;
}



.active {
    color: black;
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
      
}

/*  */

hr {
    border: 0;
    height: 1px;
    background: rgb(167, 159, 159);
   
}

 